
{% extends 'shop_list/base.html' %}
{% load static %}
{% block css_additional %}
        <link  rel="stylesheet" href="{% static 'shop_list/css/product.css' %}">
{% endblock %}

{% block title %} Product {% endblock %}

{% block content %}
    {%  for object in objects %}
        <!-- <h1>{{ object.name }}</h1> -->
        <form action="/" method="post">
            <h2> {{ object.name }} </h2>
            {% csrf_token %}
            {% for field in product_form %}
                <div class="product_style">

                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <button>ADD</button>
        </form>
    {% endfor %}

{% endblock %}