form {

    width: 90%;
    margin: 20px auto;
    max-width: 50%;
    padding: 1rem;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #41644A;
}

button {
    cursor: pointer;
    background-color: #41644A;
    color: white;
    border: 10px solid #41644A;
}

button:hover,
button:active {
    background-color: #263A29;
    border-color: #263A29;
}

.product_style {
    margin-bottom: 1rem;
}

.product_style input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: block;
    width: 90%;

}

.product_style input:focus {
    border-color: #1f0050;
    background-color: #F2E3DB;
    outline: none;
}

.product_style label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #E86A33
}

.errors input {
    border-color: #aa1754;
    background-color: #f4eeff;
}

.errors label{
 color: #aaff54;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: white;
}